<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>

        <% include ../static/partials/messages.ejs %>

        <main class="container">
            <% if(currentUser && result.collaborations.length !== 0){ %>
                <h1>Collaborations</h1>

                <ul class="list-groups">
                    <% result.collaborations.forEach((collab) => { %>
                        <% result.wikis.forEach((wiki) => { %>
                            <% if(collab.wikiId === wiki.id){ %>
                                <li class="list-group-item">
                                    <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
                                </li>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </ul>
                <hr>
            <% } %>

            <% if(currentUser && (currentUser.role === 1 || currentUser.role === 2)){ %>
                <h1>Private Wikis</h1>

                <ul class="list-groups">
                    <% if(currentUser.role === 1){ %>
                        <% result.wikis.forEach((wiki) => { %>
                            <% if(wiki.private === true && wiki.userId === currentUser.id){ %>
                                <li class="list-group-item">
                                    <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
                                </li>
                            <% } %>
                        <% }) %>
                    <% } %>
                    <% if(currentUser.role === 2){ %>
                        <% result.wikis.forEach((wiki) => { %>
                            <% if(wiki.private === true){ %>
                                <li class="list-group-item">
                                    <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
                                </li>
                            <% } %>
                        <% }) %>
                    <% } %>
                </ul>
                <hr>
            <% } %>

            <h1>Wikis</h1>

            <% if(currentUser){ %>
                <a href="/wikis/new" class="btn btn-warning">Add Wiki</a>
            <% } %>

            <ul class="list-groups">
                <% result.wikis.forEach((wiki) => { %>
                    <% if(wiki.private === false){ %>
                        <li class="list-group-item">
                            <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>