<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <% include ../static/partials/messages.ejs %>

        <header class="jumbotron" style="background-image:url(<%= result.wiki.headerImage %>);background-size: cover;height: 300px;">
        </header>
        <main class="container-fluid">

            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <h1 class="display-1"><%= result.wiki.title %></h1>
                    <% if(currentUser && currentUser.id === result.wiki.userId){ %>
                        <a href="/wikis/<%= result.wiki.id %>/edit" class="btn btn-warning">Edit</a>
                        <form style="display:initial" action="/wikis/<%= result.wiki.id %>/destroy" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <hr>
                    <p><%- body %></p>
                </div>
                <div class="col-lg-3 col-md-12 text-center">
                    <figure class="figure">
                        <img src="<%= result.wiki.profileImage %>" class="figure-img img-fluid rounded" alt="Profile Picture" style="height: 500px;">
                    </figure>
                    <div class="jumbotron my-4" id="createdBy">
                        <p class="display-4">Created By: <a href="/users/<%= result.wiki.userId %>"><%= result.wiki.username %></a></p>
                        <p class="lead">Last Updated: <span><%= result.wiki.updatedAt.toString().substring(4, 15) %></span></p>
                    </div>
                    <% if(result.wiki.private){ %>
                        <div class="container">
                            <h3>Collaborators</h3>
                            <% if(currentUser && ((currentUser.role === 1 && currentUser.id === result.wiki.userId) || currentUser.role === 2)){ %>
                                <a href="/wikis/<%= result.wiki.id %>/collaborators/new" class="btn btn-warning">Add Collaborator</a>
                            <% } %>
                            <ul class="list-groups">
                                <% result.collaborators.forEach((collab) => { %>
                                    <li class="list-group-item">
                                        <a href="/users/<%= collab.userId %>"><%= collab.username %></a>
                                        <% if(currentUser.id === result.wiki.userId){ %>
                                            <form style="display:initial" action="/wikis/<%= collab.wikiId %>/collaborators/<%= collab.id %>/destroy" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm float-right">Remove</button>
                                            </form>
                                        <% } %>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>