<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <% include ../static/partials/messages.ejs %>

        <main class="container">
            <h1><%= result.wiki.title %></h1>
                <a href="/wikis/<%= result.wiki.id %>/edit" class="btn btn-warning">Edit</a>
                <form style="display:initial" action="/wikis/<%= result.wiki.id %>/destroy" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            <p><%- body %></p>

            <% if(result.wiki.private){ %>
                <div class="container">
                    <h3>Collaborators</h3>
                    <% if(currentUser && ((currentUser.role === 1 && currentUser.id === result.wiki.userId) || currentUser.role === 2)){ %>
                        <a href="/wikis/<%= result.wiki.id %>/collaborators/new" class="btn btn-warning">Add Collaborator</a>
                    <% } %>
                    <ul class="list-groups">
                        <% result.collaborators.forEach((collab) => { %>
                            <li class="list-group-item">
                                <a href="/users/<%= collab.userId %>"><%= collab.username %></a>
                                <% if(currentUser.id === result.wiki.userId){ %>
                                <form style="display:initial" action="/wikis/<%= collab.wikiId %>/collaborators/<%= collab.id %>/destroy" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm float-right">Remove</button>
                                </form>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>